<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.oee" >
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23"
        android:maxSdkVersion="25" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light.NoActionBar">
        <activity android:name="com.project.oee.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.project.oee.LoginActivity"
            android:label="Login OEE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.oee.OEECalculation" />
        </activity>
        <activity
            android:name="com.project.oee.OEECalculation"
            android:label="OEE Calculation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".OEECalculation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.oee.OEECalculation" />
        </activity>
        <activity
            android:name="com.project.oee.ICTCalculation"
            android:label="ICT Calculation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".OEECalculation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.oee.OEECalculation" />
        </activity>
        <activity
            android:name="com.project.oee.FactoryActivity"
            android:label="List Task"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".OEECalculation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.oee.OEECalculation" />
        </activity>
        <activity
            android:name="com.project.oee.RecordActivity"
            android:label="List Calculation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".FactoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.oee.FactoryActivity" />
        </activity>
        <activity
            android:name="com.project.oee.FileActivity"
            android:label="List File"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".FactoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.oee.FactoryActivity" />
        </activity>
        <activity
            android:name="com.project.oee.AboutUsActivity"
            android:label="About Us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".OEECalculation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.project.oee.OEECalculation" />
        </activity>
    </application>

</manifest>
